.gform_wrapper {

	.datepicker {
		width: 100px !important;
	}

	input.datepicker.datepicker_with_icon {
		margin-right: 4px !important;
		display: -moz-inline-stack;
		display: inline-block;
		zoom: 1;
	}

}